<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 spacer">
	<div class="panel panel-primary">
		<div class="panel-heading">Information enclos</div>
		<div class="panel-body">
			<div class ="col-md-12 col-sm-12 col-xs-12 form-group">
				<label class="control-label">Nom : </label>
				{{ animal.nom }}
			</div>
			<div class ="col-md-12 col-sm-12 col-xs-12 form-group">
				<label class="control-label">Age : </label>
				{{ naissance }}
			</div>
			<div class ="col-md-12 col-sm-12 col-xs-12 form-group">
				<label class="control-label">Famille : </label>
				{{ animal.famille }}
			</div>
			<div class ="col-md-12 col-sm-12 col-xs-12 form-group">
				<label class="control-label">Race : </label>
				{{ animal.race }}
			</div>
			<div class ="col-md-12 col-sm-12 col-xs-12 form-group">
				<label class="control-label">Nourriture : </label>
				{{ animal.nourriture }}
			</div>
		</div>
	</div>
</div>